<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контракт № {{ contract_id }}</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
            font-size: 1rem;
            width: 100%;
        }


        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .container > * {
            width: 100%;
        }


        /* Contract Header */
        .contract-header__title {
            text-align: center;
            text-transform: uppercase;
            margin: 10px 0;
            font-size: 1.8rem;
        }

        .contract-header__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contract-header__description__text {
            font-weight: 700;
        }

        /* Contract Body */
        .contract-body__disclaimer {
            margin-top: 20px;
        }

        .contract-body__title {
            margin: 15px 0;
            text-align: center;
            font-weight: 700;
            font-size: 1.3rem;
        }

        .contract-body__list {
            list-style: none;
        }

        .contract-body__list__item {
            margin-left: 20px;
        }

        /* Contract Footer */
        .contract-footer {
            margin: 40px 0;
        }

        .signatures {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .signatures__blank {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="contract-header">
            <h1 class="contract-header__title">КОНТРАКТ №{{ contract_id }}</h1>
            <div class="contract-header__description">
                <p class="contract-header__description__text">
                    м. Запоріжжя
                </p>
                <p class="contract-header__description__text">
                    {{ start_date|date:"d.m.Y" }} p.
                </p>
            </div>
        </header>
        <main class="contract-body">
            <p class="contract-body__disclaimer">
                Національний університет «Запорізька політехніка», у подальшому «Університет», в особі ректора Бєлікова С.Б., що діє на підставі Статуту, з однієї сторони, і громадянин {{ abiturient.get_full_name }}, 
                в подальшому «Замовник», з другої сторони, керуючись Законом України «Про вищу освіту», уклали контракт про таке:
            </p>

            <!-- Section 1: Contract Subject -->
            <h2 class="contract-body__title">1. Предмет контракту</h2>
            <p class="contract-body__text">
                Університет відповідно до умов цього контракту здійснює навчання за {{ study_form }} формою з метою отримання ступеня вищої освіти {{ degree }} за освітньою програмою 
                "{{ speciality }}" факультету {{ faculty }} на умовах сплати Замовником витрат на навчання.
            </p>

            <!-- Section 2: Contract Payments -->
            <h2 class="contract-body__title">2. Вартість навчання та порядок розрахунків</h2>
            <p class="contract-body__text">2.1. Вартість навчання встановлюється відповідно до розрахунку обґрунтування витрат і складає {{ price }} грн.</p>
            <p class="contract-body__text">2.2. Вартість навчання може бути змінена протягом усього періоду дії контракту, але не частіше одного разу на рік і не більш, як на офіційний рівень інфляції за попередній календарний рік шляхом оприлюднення можливого підвищення на сайті Університету.</p>
            <p class="contrect-body__text">2.3. Плата за навчання може вноситися за весь строк навчання повністю, одноразово або частками (за навчальний рік, семестр, навчальний місяць). При цьому оплата здійснюється не пізніше 10 днів після початку відповідного періоду (навчального року, семестру, навчального місяця).</p>
            <p class="contract-body__text">2.4. Термін оплати за навчання може бути подовжено лише за письмовою заявою студента (Замовника) та за згодою ректора Університету чи уповноваженої особи.</p>
            <p class="contract-body__text">2.5. Вартість навчання, зазначена у цьому контракті, не враховує оплату за проживання у гуртожитку, оплату додаткових освітніх послуг, обслуговування в медичних закладах міста.</p>

            <!-- Section 3: University Duties -->
            <h2 class="contract-body__title">3. Обов’язки та права Університету</h2>
            <p class="contract-body__text">3.1. За умови подання особистої заяви та інших документів згідно з «Правилами прийому в Університет», на підставі рішення Приймальної комісії зарахувати до Університету Замовника.</p>
            <p class="contract-body__text">3.2. Забезпечити якісну та поглиблену теоретичну і практичну підготовку за відповідним ступенем та освітньоюпрограмою студенту(ці) згідно з навчальними планами та програмами.</p>
            <p class="contract-body__text">3.3. Надати студенту(ці) можливість користуватися засобами навчання (літературою, лабораторним обладнанням,технічними засобами тощо).</p>
            <p class="contract-body__text">3.4. При виконанні навчального плану та своєчасній оплаті за навчання переводити студента (ку) на наступні курси.</p>
            <p class="contract-body__text">3.5. Забезпечити випускникові умови для виконання дипломної роботи.</p>
            <p class="contract-body__text">3.6. За умови виконання навчального плану та при відсутності будь якої фінансової заборгованості за результатами державної атестації видати студенту(ці) диплом відповідного державного зразка та довідку про надання можливості самостійного працевлаштування.</p>
            <p class="contract-body__text">3.7. У період навчання студента(ки) при необхідності та наявності відповідних довідок надавати відпустки (академічну;по вагітності та пологах; по догляду за дитиною тривалістю, визначеною у медичній довідці, але не довше як додосягнення дитиною шестирічного віку). В усіх випадках Університет не несе фінансових зобов’язань, щодо компенсації цих відпусток.</p>
            <p class="contract-body__text">3.8 Дія контракту тимчасово припиняється у разі надання одержувачу освітньої послуги академічної відпустки відповідно до законодавства на весь строк такої відпустки, про що вносяться відповідні зміни до контракту</p>
            <p class="contract-body__text">3.9. Забезпечити збереження персональних даних студента (Замовника) відповідно до діючого Законодавства України.</p>
            <p class="contract-body__text">3.10. Університет має право вимагати від студента (Замовника) своєчасно вносити оплату за освітню послугу в розмірі та порядку, встановлених цим контрактом.</p>
            <p class="contract-body__text">3.11. У випадку несвоєчасної сплати без поважної причини Університет має право не допускати студента до складання підсумкового контролю з подальшим відрахуванням</p>

            <!-- Section 4: Client Duties -->
            <h2 class="contract-body__title">4. Обов’язки та права Замовника</h2>
            <p class="contract-body__text">4.1. Здійснювати оплату за навчання в строки, в розмірі та порядку, встановлених розділом 2 цього контракту.</p>
            <p class="contract-body__text">4.2. Обов’язок зі сплати вартості навчання наданих послуг вважається виконаним з моменту зарахування грошових коштів на поточний рахунок Університету. Відповідальність за вибір фінансової установи несе Замовник.</p>

            <!-- Section 5: Student Duties -->
            <h2 class="contract-body__title">5. Обв'язки та права Студента</h2>
            <p class="contract-body__text">5.1. У строки, встановлені Університетом, виконувати учбові завдання, передбачені навчальними планами та програмами.</p>
            <p class="contract-body__text">5.2. Дотримуватись «Правил внутрішнього розпорядку», встановлених в Університеті та його гуртожитках. </p>
            <p class="contract-body__text">5.3. Студент, який без поважних причин не приступив до занять протягом 10-ти днів з дати початку занять, може бути відрахований.</p>
            <p class="contract-body__text">5.4. Дає згоду на надання персональних даних третім особам відповідно до діючого законодавства України.</p>

            <!-- Section 6: Responsibilities -->
            <h2 class="contract-body__title">6. Відповідальність сторін</h2>
            <p class="contract-body__text">6.1. За невиконання або неналежне виконання зобов’язань цього контракту сторони несуть відповідальність згідно із законодавством України та цим контрактом.</p>
            <p class="contract-body__text">6.2. У випадку, якщо у 10-денний термін після зарахування до Університету не отримана плата за навчання, студент відраховується без попередження.</p>
            <p class="contract-body__text">6.3. У випадку, якщо без поважних причин у 30-денний термін після строку, встановленого п. 2.3. контракту, не отримана плата за навчання, студент (ка) може бути відрахований(а) з університету без повернення коштів, витрачених на його навчання та без попереднього повідомлення.</p>
            <p class="contract-body__text">6.4. У випадку несвоєчасної сплати за освітню послугу здобувач вищої освіти вносить пеню в розмірі, який не перевищує подвійної облікової ставки НБУ, яка діє на момент сплати пені, за кожний день прострочення.</p>
            <p class="contract-body__text">6.5. У разі дострокового розірвання контракту з ініціативи Замовника, кошти, що були внесені Замовником як плата за надання освітньої послуги, повертаються йому в обсязі оплати частини послуги, не наданої на дату розірвання контракту.</p>
            <p class="contract-body__text">6.6. У разі дострокового розірвання контракту у зв’язку з порушення Замовником договірних зобов’язань або невиконанням студентом обов’язків, визначених статтею 63 Закону України "Про вищу освіту", кошти, що були внесені Замовником , залишаються у навчального закладу та використовуються для виконання його статутних завдань.</p>

            <!-- Section 7: Contract Validity -->
            <h2 class="contract-body__title">7. Припинення контракту</h2>
            <p class="contract-body__text">7.1. Дія контракту припиняється:</p>
            <ul class="contract-body__list">
                <li class="contract-body__list__item">- за згодою сторін;</li>
                <li class="contract-body__list__item">- при закінченні строку дії контракту;</li>
                <li class="contract-body__list__item">- при переведенні студента до іншого ВНЗ;</li>
                <li class="contract-body__list__item">- якщо виконання стороною своїх зобов’язань, передбачених контрактом, є неможливим у зв’язку з прийняттям нормативно-правових актів, які змінили умови, встановлені контрактом щодо освітньої послуги, і будь-яка із сторін не погоджується вносити зміни до контракту</li>
                <li class="contract-body__list__item">- при відрахуванні студента;</li>
                <li class="contract-body__list__item">- за рішенням суду.</li>
            </ul>

            <!-- Section 8: General -->
            <h2 class="contract-body__title">8. Загальні положення</h2>
            <p class="contract-body__text">8.1. Доповнення та зміни узгоджуються сторонами і вносяться до контракту у письмовій формі.</p>
            <p class="contract-body__text">8.2. Питання про поновлення у складі студентів розглядається Університетом з урахуванням умов, які діятимуть на момент поновлення.</p>
            <p class="contract-body__text">8.3. Суперечки між сторонами розглядаються в порядку, встановленому чинним законодавством України.</p>
            <p class="contract-body__text">8.4. Контракт набуває чинності з моменту підписання його сторонами та за умови здійснення оплати за навчання.</p>
            <p class="contract-body__text">8.5. Строк дії контракту з {{ start_date|date:"d.m.Y" }} року до {{ end_date|date:"d.m.Y" }} року.</p>
            <p class="contract-body__text">8.6. Контракт складено в 3-х примірниках, які мають однакову юридичну силу: 1 примірник – Замовнику, 2 примірника – Університету.</p>
        </main>
        <footer class="contract-footer">
            <div class="signatures">
                <p class="signatures__blank">
                    РЕКТОР_____________________ С.Б. БЄЛІКОВ
                </p>
                <p class="signatures__blank">
                    ЗАМОВНИК __________________
                </p>
            </div>
        </footer>
    </div>
</body>
</html>